.Buynow_main{
    background-image: url("/src/images/buy-now.jpg");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;

    .buynow_box{
        background: linear-gradient(80deg, transparent, rgb(185, 157, 104));
        padding: 8% 8% 8% 53%;
        
        .buynow_text{
            font-size: 35px;
            font-family: $font-main;
            color: $color-white;
        }
        .buynow_button{
            color: white;
            border: none;
            font-family: $font-main;
            letter-spacing: 2px;
            padding: 8px 20px;
            background-color: #83714B;

            &:hover {
                background-color: rgb(95, 82, 54);
                cursor: pointer;
            }
        }
    }
}