.Features_main{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $font-main;

    .Features_img {
        img {
            width: 500px;
        }
    }

    .Features_text{
        li {
            color: $color-grey1;
            line-height: 30px;
            margin-left: 15px;
        }
    }
}
