
footer {
        .flexbox-container {
                display: flex;
                
                div {
                        width: 50%;
                        padding: 100px;
                }

                .footer-left{
                        border: 1px solid red;
                        p {
                                font-size: $font-size;
                                line-height: $line-height;
                                color: $color-grey1;
                                font-family: $font-footer;
                        }

                        .copyright{
                                color: $color-gold3;
                        }
                }

                .footer-rigth{
                        border: 1px solid red;
                        color: $color-grey1;
                        font-size: $font-size;
                        font-family: $font-footer;
                        text-align: center;
                        
                        .help{
                                color: $color-gold3;
                        }

                        .gmail {
                                a{
                                        color: $color-gold3;
                                }
                        }
                }
        }
}