.Hero_main{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $font-main;
    padding-top: 60px;

    .Hero_img {
        img {
            width: 500px;
        }
    }

    .Hero_text{
        width: 30%;

        .herohTitle{
            color: #262626;
            font-size: 40px;
        }

        .herophContent{
            color:#A1A1A1;
            font-size: 12px;
            line-height: 20px;
        }

        .heroButton{
            border: 1px solid #84724C;
            background-color: white;
            color:  #84724C;
            padding: 5px 15px;

            &:hover {
                background-color: #f1f1f1;
                cursor: pointer;
            }
        }
    }
}