.Container_bluetooth {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $font-main;
    padding: 120px 0;

    .bluetooth_text{
        width: 500px;

        .bluetooth_first{
            .title_bluetooth {
                color: $color-black;
                font-family: $font-sectionbluetooth;
                font-size: 30px;
            }

            .compatible{
                color: $color-grey1;
                font-size: 17px;
            }
        }
        
        img {
            height: 50px;
            margin-top: 20px;
        }
        
        .price{
            color: $color-grey1;
        }
    }
    
    .bluetooth_img{
        img{
            width: 500px;
        }
    }
}

