.Testimony_main {
  align-items: center;
  background-color: $color-grey2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: $font-main;
  padding: 150px 0;
  text-align: center;

  .Testomony_img {
    img {
      height: 90px;
      border-radius: 50%;
    }
  }

  .Testimony_text {
    p{
      color: $color-grey1;
      padding: 0 20%;
    }
  }

  .Testimony_user {
    p{
      margin: 10px;
    }
  }
  
  .stars {
    fill: $color-orange;

    .star {
      height: $star-size;
      width: $star-size;
      margin: 0 4px;
    }
  }
}